@charset "UTF-8";
/*@import custom-properties.css  variable :root {...} */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(113, 106, 106);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1, 5rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0, 5rem;
}

h6 {
  font-size: 0, 1rem;
}

/*media queries*/
.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 12px;
  color: white;
  background: rgba(0, 0, 0, 0.2784313725);
  position: fixed;
  width: 100%;
  height: 90px;
  align-items: center;
  -js-display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topbar__nav-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topbar__nav-ul {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fill-available;
  display: none;
}

@media (min-width: 1024px) {
  .topbar__nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.topbar__nav-logo {
  width: 200px;
  height: auto;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-line: none;
  text-decoration-color: white;
}

/*este es el menu burger, animado de tres lineas a una equis*/
.menu-burger { /*este es el padre de mi menú*/
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: 20px;
  left: 90%;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .menu-burger {
    display: none;
  }
}
.menu-burger span {
  display: block;
  width: 50%;
  height: 2px;
  margin-top: 6px;
  background: red;
  -webkit-transform-origin: 1px 100%;
  transform-origin: 1px 100%;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

/*aqui se llama a js mediante el selector activeline*/
.activeline1__menu-burger {
  -webkit-transform: rotate(45deg) translate(-2px, 1px);
          transform: rotate(45deg) translate(-2px, 1px);
}

.activeline3__menu-burger {
  -webkit-transform: rotate(-45deg) translate(-4px, 2px);
          transform: rotate(-45deg) translate(-4px, 2px);
}

.activeline2__menu-burger {
  opacity: 0;
  margin-left: -30px;
}

.slider__section1--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background-size: cover;
  width: 100vw;
  background-image: url(../img/landing/portada_imagen.jpg);
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*
@import lists
@import forms
@import link
@import buttons
@import mediaquery se pueden tener debajo del elemento que afecta, el problema que tiene es que se repite muchas veces, pero es mínimo y vale la pena
@import hover-efects
@import input
ofrecer temas oscuros, se definen, pero si no hay, el navegador los define por descarte
@import colors. paleta de colors, con properties AKA variables (color color vgd), (color   */