@charset "UTF-8";
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1, 5rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0, 5rem;
}

h6 {
  font-size: 0, 1rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*este es el menu burger, animado de tres lineas a una equis*/
.menu-burger { /*este es el padre de mi menú*/
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: 50px;
  left: 155%;
  cursor: pointer;
  display: none;
}

.menu-burger span {
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 10px;
  background: red;
  -webkit-transform-origin: 1px 100%;
          transform-origin: 1px 100%;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

/*aqui se llama a js mediante el selector activeline*/
.activeline1__menu-burger {
  -webkit-transform: rotate(45deg) translate(-2px, 1px);
          transform: rotate(45deg) translate(-2px, 1px);
}

.activeline3__menu-burger {
  -webkit-transform: rotate(-45deg) translate(-4px, 2px);
          transform: rotate(-45deg) translate(-4px, 2px);
}

.activeline2__menu-burger {
  opacity: 0;
  margin-left: -30px;
}

/*
.topbar {
    display: none; este deberia desaparer en desktop
}
*/
.topbar__menu {
  display: block;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 3px 3px 3px;
  color: white;
  background: rgba(0, 0, 0, 0.2784313725);
  position: fixed;
  width: 100%;
  height: 115px;
  align-items: center;
  -js-display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topbar__nav-menu-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topbar__nav--logo {
  width: 200px;
  height: auto;
}

.topbar__nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fill-available;
  font-family: monospace;
  font-size: 17px;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-line: none;
  text-decoration-color: white;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.slider__section1 { /*este es el padre de la portada*/
  width: 390px;
  height: 844px;
}

.slider__section1--content {
  background: url("../img/landing/portada_imagen.jpg");
  -o-object-fit: cover;
     object-fit: cover;
}

.topbar__nav-ul {
  display: none;
}

@media (min-width: 768px) {
  .topbar__nav-ul {
    display: block;
  }
}
.slider__section1--portada {
  position: relative;
  width: 100%; /* */
  background-image: url(img/landing/portada_imagen.jpg);
  background-size: cover;
}