.slider__secction1--button, .services__section2--button {
    width: 220px;
    height: 55px;
    color: #fff;
    background-color:var(--fire-engine-red);
    border-radius: 12px;
    text-align: center;
    cursor: pointer; /* manito cursor de puntero utilizado cuando se pasa por encima de los enlaces (típicamente una mano)*/
    display: inline-block;
    font-size: 1.1rem;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color .3s ease;
    text-decoration: none;

}
.services__section2--button {
    padding: inherit;
    margin-left: 1.7rem;
    margin-bottom: 1.8rem;
}

.slider__secction1--button, .services__section2--button:hover {
    background-color:var(--poppy);
    color: var(--platinum);
    border-color: white;
}