
.slider__secction1--button,
.services__section2--button,
.contact__section4--button,
.galery__section3--button,
.footer__content--button-colec,
.footer__content--button-map{
    width: 220px;
    height: 50px;
    color: var(--platinum);
    background-color:var(--fire-engine-red);
    border-radius: 6px;
    text-align: center;
    cursor: pointer; /* manito cursor de puntero utilizado cuando se pasa por encima de los enlaces (típicamente una mano)*/
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    border: 2px solid var(--poppy);
    
    

}
.services__section2--button,
.galery__section3--button, 
.contact__section4--button,
.footer__content--button-colec,
.footer__content--button-map {
    margin-left: 1.7rem;
    margin-bottom: 1.7rem;
}

.footer__content--button-colec,
.footer__content--button-map {
    margin-top: 1.7rem
}

.slider__secction1--button:hover,
.services__section2--button:hover,
.galery__section3--button:hover,
.contact__section4--button:hover,
.footer__content--button-colec:hover,
.footer__content--button-map:hover {
    background-color:var(--poppy);
    color: var(--platinum);
    
}

@media (min-width: 1024px){
    .slider__secction1--button, .services__section2--button{
    margin-block-start: revert;  
}
}

@media (min-width:600px){
    .services__section2--button {
    margin-left: 4.5rem;
    margin-bottom: 3.5rem;
}
}