:root {
    --fire-engine-red: hsla(358, 92%, 49%);
    --poppy: hsla(358, 72%, 53%);
    --platinum: hsla(0, 4%, 95%);
    --battleship-gray: hsla(60, 1%, 61%, 1);
    --dim-gray: hsla(0, 0%, 24%);
    --black: hsla(0, 0%, 0%, 1);
    --mascara: hsla(0, 0%, 0%, 0.4);

} 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');











/*:root {
    /* SCSS HSL */
/*
$fire-engine-red: hsla(358, 81%, 46%, 1);
$poppy: hsla(358, 68%, 55%, 1);
$platinum: hsla(0, 10%, 92%, 1);
$battleship-gray: hsla(60, 1%, 61%, 1);
$dim-gray: hsla(60, 0%, 41%, 1);
$black: hsla(0, 0%, 0%, 1);
} */
/* SCSS Gradient */
/*
$gradient-top: linear-gradient(0deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-right: linear-gradient(90deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-bottom: linear-gradient(180deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-left: linear-gradient(270deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-top-right: linear-gradient(45deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-bottom-right: linear-gradient(135deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-top-left: linear-gradient(225deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-bottom-left: linear-gradient(315deg, #D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);
$gradient-radial: radial-gradient(#D3161Dff, #DA3C41ff, #ECE8E8ff, #9D9D9Cff, #686867ff, #000000ff);

*/