
h1 {
    font-size: 30px;
    text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6{
    text-transform: uppercase;
}

.slider__section1 {
    font-size: 2rem;
        & .slider-h1 {
            color: var(--platinum)
    }
}
.galery__section3 {
    font-size: 2rem;
    margin-block: 1rem;
        & .section3-h1 {
            color: var(--platinum);
            padding-left: 1.7rem;
        }
}    


h2 {
    font-size: 1.7rem;
    padding-block-start: 1rem;
    padding-left: 1.7rem;
    text-align: justify;
    padding-bottom: 1.1rem;
        &.section2-h2 {
            color: var(--dim-gray);
            padding-left: 4rem;

        }
        &.section4-h2 {
            color: var(--platinum)
        }
        &.servis_page2-h2 {
            padding: 0rem 3rem 2rem 3rem;
            text-align: center;
        }
}
h3 {
    font-size: 1rem;
    margin-block-end: 1rem;
        &.slider-h3-title {
            color: var(--platinum)
        } 
        &.footer__part-2-h3,
        &.footer__part-1-h3 {
            color: var(--platinum);
            padding: 1.7rem 0 0 1.7rem;
        } 
        &.section2-h3 {
            margin-block-end: -2rem;
            padding: 1.5rem;
            font-size: 1.5rem;
            color:var(--dim-gray)
        }  
     }
h4 {
    color: var(--platinum);
    padding: 1rem 0px 0rem 1.7rem;
}
    


@media (min-width: 600px){
    .section2-h3 .section-h2 {
    padding-left: 4rem;
    }
}
@media (min-width: 1024px){
    .section2-h3{
    padding-left: 4rem;
    }
}

/*el & sirve para llamar a su padre y poder poner la variable
especifica en ese unico selector que es un h3 en este caso.*/
h4 {
    font-size: 0.8rem;
    margin-block-end: 1rem;
}
h6 {
    font-size: 0.1rem;
    margin-block-end: 1rem;
/* de aquí el style de page services*/
}
.hero-content{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 70%vh;
    
}
.hero-h1 {
    color:var(--platinum);
    font-size: 2rem;
    margin-top: 18%; 
}

@media (min-width: 600px){
    .hero-h1 {
        color:var(--platinum);
        font-size: 3rem;
        margin-top: 40%;
    }
}
@media (min-width: 1024px){
    .hero-h1 {
        color:var(--platinum);
        font-size: 3.5rem;
        margin-top: 20%;
    }
}






