.slider__section1--content {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    align-content: center;
    background-size: cover;
    width: 100vw;
    background-image: url(../img/landing/portada_imagen.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 10%;  
}
