.slider__section1--content {
    background-image: url(../img/landing/portada_imagen.png);
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    align-content: center;
    background-size: cover;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 10%;  
}
@media (min-width: 1024px) {
    .slider__section1--content{
    padding: 10% 55% 5% 10%;
}
}
.services__section2-image1 {
    background-image: url(../img/landing/enmarcaciones-img.png);
    width: 340px;
    height: 340px;
    background-position: 50% 50%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
} 

.services__section2-image2 {
    background-image: url(../img/landing/giclée2_ctysim_c_scale\,w_843.png);
    width: 340px;
    height: 340px;
    background-position: 50% 50%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 600px) {
    .services__section2-image1, .services__section2-image2 {
        width: 80%;
        height: 340px;
        background-position: 50% 50%;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (min-width: 1280px) {
    .services__section2-image1, .services__section2-image2 {
        width: 70%;
        height: 340px;
        background-position: 50% 50%;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

.galery__section3 {
    background-image: url(../img/landing/gale3.png);
    display: flex;
    height: 80vh;
    flex-wrap: wrap;
    align-content: center;
    background-size: cover;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 10%;
     
}
@media (min-width: 1024px) {
    .galery__section3 {
        padding: 5% 55% 5% 10%;
        height: 80vh;
    }
}

.contact__section4--epoca {
    background-image: url(../img/landing/galeria_epoca_1162.jpg);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-size: cover;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: 13% 87%;  
}
@media (min-width : 1024px){
    .contact__section4--epoca {
        padding: 5% 55% 5% 10%;
        height: 80vh;
    }
}

.galery__section3--content{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
@media (min-with: 1024px) {
    .galery__section3--content{
        justify-content: center;
    }
}
.galery__section3-foto {
    width: 320px;
    height: 320px;
    margin: 30px;
  }


 
.social__media-section5 {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
        & .sm{
            width: 1.5rem;
            height: 1.5rem;
        }

}
.footer__parte-3-logo {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
        & .logo-salu{
            padding: 1.7rem 1.7rem 1.7rem 1.7rem;
            width: 300px; 
            height: auto;  
}
}