.slider__section1--content {
    background-image: url(../img/landing/portada_imagen.png);
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    align-content: center;
    background-size: cover;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 10%;  
}
@media (min-width: 1024px) {
    .slider__section1--content{
    padding: 10% 55% 5% 10%;
}
}
.services__section2-image1 {
    background-image: url(../img/landing/enmarcaciones-img.png);
    width: 340px;
    height: 340px;
    background-position: 50% 50%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
} 

.services__section2-image2 {
    background-image: url(../img/landing/giclée2_ctysim_c_scale\,w_843.png);
    width: 340px;
    height: 340px;
    background-position: 50% 50%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 600px) {
    .services__section2-image1, .services__section2-image2 {
        width: 80%;
        height: 340px;
        background-position: 50% 50%;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (min-width: 1280px) {
    .services__section2-image1, .services__section2-image2 {
        width: 70%;
        height: 340px;
        background-position: 50% 50%;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

.galery__section3 {
    background-image: url(../img/landing/gale3.png);
    display: flex;
    height: 80vh;
    flex-wrap: wrap;
    align-content: center;
    background-size: cover;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 10%;
     
}
@media (min-width: 1024px) {
    .galery__section3 {
        padding: 5% 55% 5% 10%;
        height: 80vh;
    }
}

.contact__section4--epoca {
    background-image: url(../img/landing/galeria_epoca_1162_mascara.png);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-size: cover;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: 13% 87%;  
}
@media (min-width : 1024px){
    .contact__section4--epoca {
        padding: 5% 55% 5% 10%;
        height: 80vh;
    }
}

.galery__section3--content{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

    @media (min-width: 1024px) {
         .galery__section3--content {
            display: flex;
            justify-content: center;
        }       
    }
.galery__section3-foto {
    width: 320px;
    height: 320px;
    margin: 30px;
  }


 
.social__media-section5 {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
        & .sm{
            width: 1.5rem;
            height: 1.5rem;
        }
}

@media (min-width: 1024px) {
    .social__media-section5 {
        justify-content: center;
        & .sm{
            width: 4.5rem;
            height: 4.5rem;
            display: flex;
            padding: 0.5rem;
        }
    }
}

.footer__parte-3-logo {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
        & .logo-salu{
            width: 20rem;
            height: auto;
            margin-bottom: inherit; 
}
}
/* aquí comienzan las imagenes de la page de servicios*/
.hero-overlay {
    width: 100vw;
    height: 70vh;
    padding: 0;
    background-image: url(../img/page-services/pricipal-fragme.JPG);
    background-size: cover;
    background-position: center;
}


@media (min-width: 600px){
    .hero-overlay {
    background-image: url(../img/page-services/principal.png);
}
}

/*esta sección es la de muestras de molduras pagina de producyos y servicios*/
.section1__molduras-div {
    
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    margin-right: 2px;

}
.section1__molduras-image {
    
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0rem;
    margin-bottom: 2rem;
}
.marcos {
    height: 8rem;
    width: 8rem;
}

@media (min-width: 780px){
    .section1__molduras-div {
        padding: 0rem 6rem 0rem 6rem;
    .marcos {
        height: 12rem;
        width: 12rem;
        margin-left: 2rem;
        margin-right: 2rem;
        }
    }    
}
@media (min-width: 1100px) {
    .section1__molduras-div {
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0rem 6rem 0rem 6rem;
        .marcos {
            margin-left: 0.1rem;
            margin-right: 0.1rem;
            }
    }
}

.img-ser {
    width: 100vw;
    justify-content: center;
    padding: 1rem;

}   
        
  

@media (min-width:1280px){
    .img-ser {
        height: 26rem;
        width: 26rem;
        padding: 4rem;
    }
}
