*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    background-color: rgb(113, 106, 106);

}

section {
    
    &.services__section2 {
        background-color: var(--platinum);
}   
}

.service__section2-grupo1, .services__section2-grupo2 {
        display: flex;
        flex-direction: column;
}
.services__section2-content {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
}
@media (min-width: 1000px) {
    .services__section2-content {
            display: flex;
            flex-direction: row;
        }
}
p {
    
    padding: 1.7rem;
   
}


      
      
      
      
      
