*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    background-color: rgb(113, 106, 106);

}

section {
    &.services__section2 {
        background-color: var(--platinum);
}   
}

p {
    display: flex;
    padding: 1.7rem;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}


      
      
      
      
      
