*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    background-color: var(--battleship-gray)
}

section {
    &.services__section2 {
        background-color: var(--platinum);
}   
}

.service__section2-grupo1,
.services__section2-grupo2 {
        display: flex;
        flex-direction: column;
}
.services__section2-content {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
}
@media (min-width: 1024px) {
    .services__section2-content {
            display: flex;
            flex-direction: row;
        }       
}
p {    
    padding: 1.7rem;
    &.section3-p {
        color: var(--platinum)
    }  
    &.section4-p {
        padding: 0 1.7rem 1.7rem 1.7rem;
        color: var(--platinum)
        
    }
    &.sliderp-section1 {
        color: var(--platinum);
        padding: 0;
        padding-bottom: inherit;
    }
    &.footer__part-1-p, 
    &.footer__part-2-p {
        color: var(--platinum);
        padding: 0 1.7rem 1.7rem 1.7rem;
        padding-bottom: inherit;
    }

    &.artistas-section3 {
        font-size: 1.3rem;
        padding: 0 1.7rem 1.7rem 2rem;
        width: 280px;
        height: auto;
        color: var(--black);
    }
    }

@media (min-width: 600px){
    p {
    margin-block-start: revert;
    padding-left: 3.5rem;
}
}


@media (min-width: 1024px){
    p {
    margin-block-start: revert;
    padding-left: 3rem;
}
}
.social__media-section5-content {
    display: flex;
    flex-wrap: wrap;
    padding: 1.7rem;
    justify-content: center;
    background-color: var(--platinum);
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    background-color: var(--black);
    padding: 1.7rem;
}


      
      
      
      
      
